<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <div class="container">
    <div class="row">
      <h4 class="col-sm-10">{{ post.title }}</h4>
      <span class="col-sm-2">{{ post.creationDate }}</span>
      <p class=" col-sm-12">{{ post.content}}</p>
      <button class="btn btn-success col-sm-2" (click)="onLike()">j'aime!</button>
      <button class="btn btn-danger col-sm-2" (click)="onDislike()">je n'aime pas!</button>
      <button class="btn btn-danger col-sm-2 pull-right" (click)="onDelete()">supprimer</button>
    </div>
  </div>

</li>
